<div class="alinha-centro">
<div class="bar bar-header bar-positive">
  <h1 class="alinha-centro">Perfil</h1>
  <div class="alinha-centro">
    <i class="fas fa-user"></i>
  </div>
  <div class="borda-cinza">
    <p class="alinha-centro">Nickname:{{this.baseService.usuario.nickname}}</p><!--ver se funciona sabosta-->
  </div>
  <div class="borda-cinza">
    <p class="alinha-centro">Nome Completo:{{baseService.usuario.nome}}</p>
  </div>
  <div class="borda-cinza">
    <p class="alinha-centro">Saldo:{{baseService.usuario.saldo}}</p>
  </div>
</div>
</div>