<body ng-app="starter">
  <ion-pane ng-controller="ProfileCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Perfil</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">
        <ion-item class="profile-item">

          <h2 class="profile-name dark">{{user.name}}</h2>
          <div class="profile-info">{{user.info}}</div>
        </ion-item>
        <ion-item class="profile-item">
          <button class="button button-block button-positive" ng-click="logIn()">
            Login
          </button>
        </ion-item>
      </div>
    </ion-content>
  </ion-pane>
</body>