<div style="overflow:scroll;overflow:auto">
<ion-label>Sobre</ion-label>
<div>O aplicativo foi desenvolvido pelos alunos do 4° ano do Curso Técnico em Informática do IFRS Campus Farroupilha,
  com a finalidade de aproximar as pessoas de uma das maiores competições de futebol entre seleções da América do Sul
  e
  convidadas.</div>
<div>
  O principal objetivo do MyCup América é permitir apostas no placar dos jogos da Copa América de futebol e acompanhar
  o
  desempenho de suas apostas durante o evento. Ao realizar o cadastro, cada jogador receberá O$ 1.000 Orinhos que são
  usados como moeda de aposta em cada jogo.</div>
<div>
  É permitido apenas uma aposta por jogador em cada jogo que pode ser feita e editada com até 30 minutos de
  antecedência
  do início do jogo.</div>
<div>
  Você pode criar e participar de até 3 grupos apostando entre os participantes com o intuito de formar rankings
  particulares, além do ranqueamento geral.</div>
<div> É possível consultar informações dos países participantes da Copa América para ampliar seus conhecimentos e saber
  um
  pouco mais sobre diferentes culturas.
  O acesso ao aplicativo será bloqueado caso for detectado textos preconceituosos, ofensivos ou difamatórios em sua
  conta.</div>
<ion-label> Sistema De Apostas:</ion-label>
<div>
  O sistema de apostas é dividido em dois critérios:
</div>
<div>
  Situação do jogo: se o jogador acertar a situação de vitória, derrota ou empate de alguma seleção no jogo,
  independente do placar, irá receber uma pontuação. E em caso de uma aposta errada não receberá nada.
</div>
<div>
  Placar: Ao apostar um placar, o jogador pode acertar totalmente, parcialmente ou errar, oferecendo ao mesmo uma
  pontuação de acordo com o número de apostas e valor apostado dos demais jogador;
</div>
<div>
  Logo, quanto maior o número de apostas erradas, melhor será para o jogador que irá ganhar um valor mais alto
  individualmente. E quanto maior o número de apostas corretas, pior será para o jogador, já que ele receberá menos
  Orinhos;
</div>
<div>
  Para maiores informações e dúvidas, entre em contato pelo email projetomycup@gmail.com.
</div>