<div style="overflow:scroll;overflow:auto;">
  <h1 style="text-align: center">Sobre</h1>
  <div style="text-align: justify; margin:0px 30px; white-space: pre-wrap;">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      O aplicativo foi desenvolvido pelos alunos do 4° ano do Curso Técnico em Informática do IFRS Campus
      Farroupilha,
      com a finalidade de aproximar as pessoas de uma das maiores competições de futebol entre seleções da América do
      Sul
      e
      convidadas.
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;
      O principal objetivo do MyCup América é permitir apostas no placar dos jogos da Copa América de futebol e
      acompanhar
      o
      desempenho de suas apostas durante o evento. Ao realizar o cadastro, cada jogador receberá O$ 1.000 Orinhos que
      são
      usados como moeda de aposta em cada jogo.
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      É permitido apenas uma aposta por jogador em cada jogo que pode ser feita e editada com até 30 minutos de
      antecedência
      do início do jogo.</span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      Você pode criar e participar de até 3 grupos apostando entre os participantes com o intuito de formar rankings
      particulares, além do ranqueamento geral.
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      É possível consultar informações dos países participantes da Copa América para ampliar seus conhecimentos e
      saber
      um
      pouco mais sobre diferentes culturas.
      O acesso ao aplicativo será bloqueado caso for detectado textos preconceituosos, ofensivos ou difamatórios em sua
      conta.
    </span><br><br>
  </div>
  <h1 style="text-align: center">Sistema De Apostas:</h1><br>
  <div style="text-align: justify; margin:0px 30px;margin-bottom:150px;">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      O sistema de apostas é spanidido em dois critérios:
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      Situação do jogo: se o jogador acertar a situação de vitória, derrota ou empate de alguma seleção no jogo,
      independente do placar, irá receber uma pontuação. E em caso de uma aposta errada não receberá nada.
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      Placar: Ao apostar um placar, o jogador pode acertar totalmente, parcialmente ou errar, oferecendo ao mesmo uma
      pontuação de acordo com o número de apostas e valor apostado dos demais jogador;
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      Logo, quanto maior o número de apostas erradas, melhor será para o jogador que irá ganhar um valor mais alto
      inspanidualmente. E quanto maior o número de apostas corretas, pior será para o jogador, já que ele receberá menos
      Orinhos;
    </span><br><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;
      Para maiores informações e dúvidas, entre em contato pelo email projetomycup@gmail.com.
    </span>
  </div>
</div>