<div class="h-20 alinha-centro">
  <ion-row class="w-100 alinha-meio">
    <ion-col class="w-23 h-100">
      <div id="botao-voltar-data" class="">
        <ion-button expand="full" fill="clean" mode="md">
          <i href="/" class="fas fa-backward" (click)="mudar_data(false)"></i>
        </ion-button>
      </div>
    </ion-col>
    <ion-col class="w-54 h-100">
      <div id="data" class="w-100 h-100">
        <ion-label>
          {{dataSelecionada}}
        </ion-label>
      </div>
    </ion-col>
    <ion-col class="w-23 h-100">
      <div id="botao-avancar-data" class="">
        <ion-button expand="full" fill="clean" mode="md" (click)="mudar_data(true)">
          <i class="fas fa-forward"></i>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</div>
<div class="h-30">
  <a (click)="openModalAposta(1)">
    <ion-row name="bandeiras" class="alinha-meio m-3">
      <div name="bandeira1" class="w-40 alinha-meio">
        <ion-img class="h-50p w-50p m-0" src={{baseService.sel11img}}></ion-img>
      </div>
      <div class="w-20 alinha-centro">
        {{baseService.jogos[0].gol1}} 
        X 
        {{baseService.jogos[0].gol2}}
      </div>
      <div name="bandeira2" class="w-40 alinha-meio">
        <ion-img class="h-50p w-50p m-0" src={{baseService.sel12img}}></ion-img>
      </div>
    </ion-row>
    <ion-row name="data-jogo" class="alinha-meio m-3">
      <div name="hora-local">
          {{baseService.jogos[0].horario}} - {{baseService.jogos[0].estadio}} - {{baseService.jogos[0].local}}
      </div>
    </ion-row>
    <ion-row name="aposta1" class="alinha-meio m-3">
      <div name="aposta_primeiro_jogo">
        APOSTA
      </div>
    </ion-row>
  </a>
</div>
<div class="h-50">
  <div class="h-100 w-100" *ngIf="baseService.jogo2existe">
    <a (click)="openModalAposta(2)" *ngIf="baseService.jogo2existe">
      <ion-row name="bandeiras" class="alinha-meio m-3">
        <div name="bandeira1" class="w-40 alinha-meio">
          <ion-img class="h-50p w-50p m-0" src={{baseService.sel21img}}></ion-img>
        </div>
        <div class="w-20 alinha-centro">
          {{baseService.jogos[1].gol1}} 
          X 
          {{baseService.jogos[1].gol2}}
        </div>
        <div name="bandeira2" class="w-40 alinha-meio">
          <ion-img class="h-50p w-50p m-0" src={{baseService.sel22img}}></ion-img>
        </div>
      </ion-row>
      <ion-row name="data-jogo" class="alinha-meio m-3">
        <div name="hora-local">
          {{baseService.jogos[1].horario}} - {{baseService.jogos[1].estadio}} - {{baseService.jogos[1].local}}
        </div>
      </ion-row>
      <ion-row name="aposta2" class="alinha-meio m-3">
      </ion-row>
    </a>
  </div>
</div>