<div style="overflow:scroll;overflow:auto">
<h1 class="alinha-meio"> Seleções</h1>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img class="h-50p w-10 " src='../assets/img/info/bra.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/arg.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/bol.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img src='../assets/img/info/cat.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/chi.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/col.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/equ.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/jap.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/par.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/per.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/uru.png'></ion-img>
</div>
<div name="bandeira1" class="w-40 alinha-meio">
  <ion-img  src='../assets/img/info/ven.png'></ion-img>
</div>
</div>