<div style="overflow:scroll;overflow:auto">
  <h1 class="alinha-meio"> Seleções</h1>

  <ion-row>
    <ion-col size="6" size-sm>
      <!-- BRA -->
      <ion-img class="h-50p w-10 " src='../assets/img/info/bra.png'></ion-img>
    </ion-col>
    <ion-col size="6" size-sm>
      <!-- ARG -->
      <ion-img src='../assets/img/info/arg.png'></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" size-sm>
      <!-- BOL -->
      <ion-img src='../assets/img/info/bol.png'></ion-img>
    </ion-col>
    <ion-col size="6" size-sm>
      <!-- CAT -->
      <ion-img src='../assets/img/info/cat.png'></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" size-sm>
      <!-- CHI -->
      <ion-img src='../assets/img/info/chi.png'></ion-img>
    </ion-col>
    <ion-col size="6" size-sm>
      <!-- COL -->
      <ion-img src='../assets/img/info/col.png'></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" size-sm>
      <!-- EQU -->
      <ion-img src='../assets/img/info/equ.png'></ion-img>
    </ion-col>
    <ion-col size="6" size-sm>
      <!-- JAP -->
      <ion-img src='../assets/img/info/jap.png'></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" size-sm>
      <!-- PAR -->
      <ion-img src='../assets/img/info/par.png'></ion-img>
    </ion-col>
    <ion-col size="6" size-sm>
      <!-- PER -->
      <ion-img src='../assets/img/info/per.png'></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" size-sm>
      <!-- URU -->
      <ion-img src='../assets/img/info/uru.png'></ion-img>
    </ion-col>
    <ion-col size="6" size-sm>
      <!-- VEN -->
      <ion-img src='../assets/img/info/ven.png'></ion-img>
    </ion-col>
  </ion-row>
</div>