<div class="h-100">
    <div class="display-wrap display-flex h-100">
        <div class=" alinha-topo w-100">
            <ion-row>
                <ion-col>
                    <input autocomplete="off" type="text" aria-label=""
                         placeholder="Login" name="login">
                    <input autocomplete="off" type="text" aria-label=""
                         placeholder="Senha" name="senha">
                    <div>
                        <ion-button expand="" fill="solid" size="default" mode="md"
                         (click)="clicou()"> Enviar
                        </ion-button>
                    </div>
                    <ion-button expand="" fill="solid" size="default" mode="md"
                         (click)="clicou()"> Esqueci o nickmane ou senha
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-button expand="" fill="solid" size="default" mode="md"
                         (click)="clicou()"> Novo aqui
                </ion-button>
                <ion-button expand="" fill="solid" size="default" mode="md"
                         (click)="clicou()"> Sobre
                </ion-button>
            </ion-row>
        </div>
    </div>
</div>
