<div class="h-100">
    <div class="display-wrap display-flex h-100">
        <div class=" alinha-topo w-100">
            <ion-row>
                <input autocomplete="off" type="text" aria-label="" placeholder="Login" name="login"
                    [(ngModel)]="login">
            </ion-row>
            <ion-row>
                <input autocomplete="off" type="text" aria-label="" placeholder="Senha" name="senha"
                    [(ngModel)]="senha">
            </ion-row>
            <ion-row>
                <div>
                    <ion-button expand="" fill="solid" size="default" mode="md" (click)=""> Enviar
                    </ion-button>
                </div>
            </ion-row>
            <ion-row>
                <ion-button expand="" fill="solid" size="default" mode="md" (click)=""> Esqueci o nickmane ou senha
                </ion-button>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="" fill="solid" size="default" mode="md" (click)=""> Novo aqui
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="" fill="solid" size="default" mode="md" (click)=""> Sobre
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>