<div class="h-33 w-100">
    <h1 class="card-text caixa-texto alinha-centro">Oláaaaaaaaaaaaaaa</h1>
    <ion-row size="3">
        <ion-col class="alinha-meio" style="flex-direction: column">
            <div class="h-100 w-100 alinha-meio m-3p">
                <input autocomplete="off" type="text" aria-label="" placeholder="Login">
            </div>
            <div class="h-100 w-100 alinha-meio m-3p">
                <input autocomplete="off" type="text" aria-label="" placeholder="Senha" name="senha">
            </div>
        </ion-col>
    </ion-row>
</div>

<div class="h-33 w-100">
    <div>
        <ion-row size="3">
            <ion-col class="alinha-centro">
                <ion-button expand="" fill="solid" size="default" mode="md" (click)="clicou()"> Enviar
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <div>
        <ion-row size="3">
            <ion-col class="alinha-base">
                <ion-button expand="" fill="clear" size="default" mode="md" (click)="clicou()"> Esqueci o
                    nickmane
                    ou
                    senha
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</div>

<div class="h-33 w-100">
    <ion-row size="3" style="text-align: -webkit-center;">
        <div class="w-50">
            <a href="/cadastro">
                <ion-card class="w-30 h-90">
                    <ion-card-header class="alinha-meio">
                        <font color="black"><i class="fas fa-user-plus" style="font-size: 400%;"></i></font>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button expand="full" fill="clear" mode="md"> Novo
                            aqui
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </a>
        </div>
        <div class="w-50">
            <a href="/data-jogos">
                <ion-card class="w-30 h-90">
                    <ion-card-header class="alinha-meio">
                        <font color="black"><i class="fas fa-info-circle" style="font-size: 400%;"></i>
                        </font>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button expand="full" fill="clear" mode="md"> Sobre
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </a>
        </div>
    </ion-row>
</div>