<ion-app>
  <ion-header>
    <ion-toolbar class="cor-azul-forte">
      <ion-row class="m-0">
        <ion-col size="3" class="alinha-direita">
          <ion-img class="h-50p w-50p alinha-esquerda m-0" src="../assets/img/logo.jpeg"></ion-img>
        </ion-col>
        <ion-col size="6" class="alinha-centro m-0">
          <h1 class="m-0">
            <font color="white">My Cup América</font>
          </h1>
        </ion-col>
        <ion-col size="3" class="alinha-esquerda m-0">
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

</ion-app>