
select {
  align-content: center;
  width: 90%;
  padding: 9px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid  rgba(186,184,186,1);
  background: #ffffff;
}

input[type="submit"] {
  background-color: #061b8e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
}



input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
  width: 90%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid  rgba(186,184,186,1);
  background: #ffffff;
}

#municipio {
  width: 45%;
}

#estado {
  width: 45%;
}

.container_signup{
  border-radius: 5px;
  -webkit-box-shadow: 1px 6px 5px 0px rgba(186,184,186,1);
  -moz-box-shadow: 1px 6px 5px 0px rgba(186,184,186,1);
  box-shadow: 1px 6px 5px 0px rgba(186,184,186,1);
}
