// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Google fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.cor-if-verde {
  --background: #00420c;
  --background-activated: rgb(0, 41, 7);
}

.cor-azul-forte {
  --background: #061b8e;
}

.cor-verde-musgo {
  background-color: #0a8600;
}

.cor-amarelo-claro {
  background-color: #ffff00;
}

.cor-quase-branco {
  background-color: #ffffe3;
}

.cor-azul-fraco {
  background-color: #dbffff;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-33 {
  height: 33.33%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.h-50p {
  height: 50px;
}

.w-10 {
  width: 10%;
}

.w-18 {
  width: 18%;
}

.w-20 {
  width: 20%;
}

.w-23 {
  width: 23%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-8p {
  width: 8px;
}

.w-50p {
  width: 50px;
}

.display-flex {
  display: flex;
}

.display-wrap {
  flex-wrap: wrap;
}

.alinha-centro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alinha-base {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.alinha-topo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.alinha-esquerda {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.alinha-direita {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alinha-meio {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  justify-content: center;
}

.tamanho-texto-caixa-de-texto {
  font-size: 40px;
  width: 250px;
  text-align: center;
}

.p-20p {
  padding: 20px;
}

.p-2 {
  padding: 2%;
}

.tamanho-texto10p {
  font-size: 10px;
}

.tamanho-texto20p {
  font-size: 20px;
}

.tamanho-texto30p {
  font-size: 30px;
}

.m-1 {
  margin: 1%;
}

.m-3 {
  margin: 3%;
}

.m-0p {
  margin: 0px;
}

.m-3p {
  margin: 3px;
}

.m-15p {
  margin: 15px;
}

.container-carregando {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-carregando .inner {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.title {
  height: 20%;
  width: 100%;
  justify-items: center;
  align-content: center;
}

.borda-cinza {
  text-align: center;
  width: 90%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: groove;
  background: #f1f1f1;
  text-align: center;
}

.borda-preta {
  text-align: center;
  width: 90%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: groove;
  background: #f1f1f1;
  text-align: center;
}

a {
  text-decoration: none !important;
}

.ion-card-content {
  display: inline;
  position: relative;
}

.modal .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute;
  display: block;
}
#header-title {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 20px;
  height: 50px;
  margin: 0;
}

.container_login{
  height: 60px;
}

.input_field{
  border-bottom: 3px solid #061b8e; 
  height:35px; 
  padding: 0px 10px;
}

.icon_login{
  padding-right:10px;
}

#input_forget{
  text-align: center;width: 80%;
    padding: 10px;
    margin: 25px 0 15px 0;
    display: inline-block;
    border: 2px solid  rgba(186,184,186,1); border-radius: 5px
}