<div class="w-100 h-100" style="background-color: #061b8e" *ngIf="this.baseService.home">
    <ion-img class="h-100 w-100 alinha-esquerda m-0" src="../assets/img/logo.jpeg"></ion-img>
    <ion-menu side="start" menuId="first">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Start Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
</div>